        @media only screen and (max-width:1023px) {
            .navs_container {
                display: none;
                text-align: center;
                z-index: 2;
                background-color: #071017;
            }
            .logo {
                margin-left: 0em;
                width: 18%;
            }
            .mynavnav {
                text-align: center;
            }
            .mybrand {
                width: 75%;
            }
            .komo_content h1 {
                font-size: 21px;
                /* margin-top: -15px; */
                position: relative;
                top: -10px;
                font-weight: bold;
            }
            .komo_content {
                margin-top: -9em;
                line-height: 15px;
                font-size: 9px;
                font-weight: bold;
            }
            .mytoggler {
                background-color: #fff !important;
            }
            .welcome {
                text-align: center;
                /* margin-top: 21em; */
                /* color: #000; */
            }
            .header_container {
                flex-direction: column-reverse;
            }
            /* .intro_background {
                        position: relative;
                        top: -322px;
                    } */
            .navv {
                display: block;
            }
            .sponsor_img {
                height: 98px;
                box-shadow: 10px 3px 0px #efefef;
                /* margin-top: -20em; */
            }
            .about_navs {
                display: none;
            }
            .about_bg {
                flex-direction: column;
                padding: 0px 20px;
            }
            .about_content {
                width: 100%;
                padding: 0px 0px 0px 0px;
                margin-top: 92em;
            }
            .about_bg1 {
                flex-direction: column;
                margin-top: 92em;
            }
            .about_act1 {
                flex-direction: column;
            }
            .about_act2 {
                flex-direction: column;
            }
            .about5 img {
                width: 94%;
                padding: 0px;
            }
            .about5 {
                text-align: center;
            }
            .abbout {
                padding: 70px 19px;
                line-height: 30px;
            }
            .about_sub1 {
                width: 95%;
                margin: 30px auto;
                box-shadow: 0 0 17px 17px #efefef;
            }
            .mee {
                position: relative;
                left: 0;
            }
            .mee1 {
                position: relative;
                top: -55px;
            }
            .service_info {
                flex-direction: column;
                padding: 0px;
            }
            .service_info1 {
                flex-direction: column;
            }
            .service_content {
                flex-direction: column;
                padding-left: 0px;
                text-align: center;
                line-height: 33px;
            }
            .solution {
                flex-direction: column;
            }
            .about_header {
                display: none;
                justify-content: space-around;
            }
            .para h1 {
                font-size: 13px;
                line-height: 21px;
                font-weight: lighter;
            }
            .what h1 {
                text-align: center;
                line-height: 31px;
                padding: 0px 10px
            }
            .para {
                font-size: 20px;
            }
            .service_bg {
                padding-top: 57px;
            }
            .service_info_content {
                width: 91%;
                /* height: fit-content; */
                margin: 20px auto;
                padding: 13px 20px 30px;
            }
            .service_info1 {
                padding: 0px;
            }
            .at {
                padding: 0px 6px;
            }
            .at1 {
                padding: 0px 18px;
            }
            .intro_btn {
                padding: 8px 15px;
                border-radius: 7px;
            }
            .over2 {
                line-height: 30px;
            }
            .choose_us {
                flex-direction: column;
                padding: 130px 0px;
            }
            .choose_image img {
                width: 95%em;
            }
            .choose_text {
                padding: 31px 13px;
            }
            .choose_text2 h1 {
                font-size: 24px;
                line-height: 36px;
                text-align: center;
            }
            .choose_text3 p {
                line-height: 27px;
            }
            .process {
                font-size: 14px;
                padding-left: 14px;
            }
            .contact {
                flex-direction: column;
                height: 80em;
                padding: 0;
            }
            .contact_info {
                display: block;
            }
            .get_started {
                margin-top: 20px;
            }
            .email {
                padding-left: 0px;
            }
            .choose_us1 {
                line-height: 33px;
            }
            .let_talk {
                margin-top: 45px;
            }
            .first_contact {
                width: 88%;
                text-align: center;
                margin: 0 auto;
            }
            .sub_contact1 {
                width: 95%;
                margin: 0 auto;
            }
            .first_text h1 {
                font-size: 28px;
                text-align: center;
            }
            .intro_background h2 {
                font-size: 18px;
            }
            .sub_contact {
                padding: 20px 26px;
            }
            .blog2 {
                flex-direction: column;
            }
            .first_blog {
                width: 90%;
                margin: 10px auto;
                height: 39em;
            }
            .first_blog_text p {
                line-height: 30px;
            }
            .first_blog_text h2 {
                line-height: 36px;
            }
            .building {
                line-height: 36px;
            }
            .testimonials {
                flex-direction: column;
            }
            .testimonial_image {
                width: 100%;
                padding: 0px;
                text-align: center;
            }
            .testimonial_content {
                padding: 30px 25px;
                width: 83%;
            }
            .komo_coat {
                padding-left: 0px;
            }
            .amos p {
                font-size: 11px;
                padding-left: 10px;
            }
            .amos h2 {
                font-size: 15px;
                padding-left: 10px;
            }
            .komo_about {
                flex-direction: column;
                text-align: center;
                padding: 0px 10px;
                margin-bottom: 50px;
                margin: -1em 0px 40px;
            }
            .about_content1 {
                width: 100%;
                padding: 0;
            }
            .about_hero {
                font-size: 25px;
                text-align: center;
                padding: 148px 0px;
            }
            .about_hero h1 {
                font-size: 25px;
            }
            .about_hero {
                font-size: 11px;
                font-weight: bold;
            }
            .komo_about {
                margin: 6em 0px 40px;
            }
            .the_process {
                flex-direction: column;
                text-align: center;
            }
            .main_form {
                flex-direction: column;
                margin: 88px auto 0px;
                padding-bottom: 30px;
            }
            .over1 {
                line-height: 26px;
                font-size: 16px;
            }
            .forms {
                flex-direction: column;
                text-align: center;
            }
            .form_image {
                width: 100%;
            }
            .about_teachers {
                flex-direction: column;
            }
            .about_us {
                margin: 26px auto;
            }
            .team_one {
                width: 100%;
                padding: 33px 0px;
            }
            .process_images {
                padding: 25px 0px;
            }
            .msg-form {
                width: 17.5em;
                height: 8em;
            }
            .form_submit button {
                margin-left: 2em;
            }
            .footer_container {
                flex-direction: column;
                padding: 80px 33px;
            }
            .aabout {
                width: 100%;
                margin-top: 27px;
                text-align: center;
            }
            .aboutnav {
                display: block !important;
            }
            .komo_about1 {
                margin: 0em 0px 40px;
            }
            .about_image1 {
                margin-top: 3em;
            }
            .tracker {
                flex-direction: column;
                margin-bottom: 0em;
            }
            .my_about {
                color: #000;
                margin-top: 5em;
            }
            .sub_tracker {
                width: 92%;
                margin: 20px 10px;
                padding: 12px 22px;
            }
        }