/* .header_container {
    display: flex;
    justify-content: space-around;
    background-color: #071017;
} */

.mynav {
    background-color: #000;
}

.nav-link {
    color: #fff !important;
}

.logo {
    width: 11%;
    margin-left: 4em;
}

a {
    text-decoration: none;
}

.navs_container {
    display: flex;
    /* justify-content: space-around; */
}


/* .navv {
    display: block;
}

.navvv {
    display: none;
}

.navs_container p {
    padding: 10px 30px;
    color: white;
}

.nav_bar {
    position: relative;
    top: 4em;
    right: 22px;
    z-index: 2;
} */

body {
    margin: 0;
    padding: 0;
    font-family: Rubik;
    /* font-weight: bolder; */
}

button {
    font-family: Rubik;
    padding: 10px 20px;
    background: black;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
}

.welcome {
    text-align: center;
    /* color: #000; */
}

.welcome h1 {
    /* padding-top: 30px; */
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
}

.intro_container {
    background: url(../images/computer6.jpg);
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 130vh;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_btn {
    background-color: transparent;
    color: white;
    display: flex;
    font-size: 19px;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-weight: bolder;
    justify-content: center;
    margin: 39px auto;
    padding: 15px 35px;
    border-radius: 20px;
    font-family: Rubik;
    border: 3px solid #fff;
}

.komo_content {
    margin-top: -20em;
    line-height: 35px;
    font-size: 19px;
    font-weight: lighter;
}

.intro_content {
    width: 60%;
}

.abt {
    width: 20%;
}

.over1 {
    line-height: 33px;
    font-size: 20px;
    font-weight: bold;
}

.intro_background h2 {
    text-align: center;
    color: #fff;
}

.intro_background p {
    text-align: center;
    color: #fff;
}

.intro_content p {
    padding: 50px 50px;
}

.komotech {
    color: #fff;
    text-align: center;
    padding-top: 90px;
}

.intro_background {
    background-color: black;
}

.intro_image {
    width: 70%;
}

.intro_image img {
    width: 100%;
}

.sponsor_img img {
    width: 15%;
}

.sponsor_img {
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    box-shadow: 10px 10px 5px #efefef;
}

.about_act1 {
    display: flex;
    justify-content: space-around;
}

* {
    font-family: Rubik, cursive;
}

.about_activities {
    /* background-color: #efefef; */
    position: relative;
    top: 70px;
}

.about_act2 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.about_bg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
}

.about5 img {
    width: 80%;
    padding: 69px;
}

.about_sub1 {
    width: 37%;
    background-color: white;
    height: 311px;
    /* background-color: yellow; */
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 0 0 15px 15px #efefef;
}

.about_content {
    width: 45%;
    padding: 0px 0px 0px 88px;
}

.abbout {
    padding: 100px 50px;
    line-height: 30px;
}

.mee {
    position: relative;
    left: 47px
}

.about_bg1 {
    display: flex;
    justify-content: space-around;
}

.about5 p {
    padding: 56px 45px;
}

.rs-skillbar.style1.home4 .skillbar .skillbar-bar.pink-bg {
    background-color: #F00674;
}

.rs-skillbar.style1 .cl-skill-bar .skillbar-title {
    font-weight: bolder;
    font-size: 14px;
    color: #212121;
}

.rs-skillbar.style1 .cl-skill-bar .skillbar {
    background: #eeeeee;
    height: 7px;
    margin: 10px 0 24px;
    position: relative;
    width: 100%;
}

.rs-skillbar.style1 .cl-skill-bar .skillbar .skill-bar-percent {
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: -38px;
    font-size: 16px;
    font-weight: 700;
    color: #0a0a0a;
}

.rs-skillbar.style1.home4 .skillbar .skillbar-bar.paste-bg {
    background-color: #03DEA8;
}

.rs-skillbar.style1.home4 .skillbar .skillbar-bar.blue-bg {
    background-color: #0A99FD;
}

.rs-skillbar.style1.home4 .skillbar .skillbar-bar.pink-bg {
    background-color: #F00674;
}

.rs-skillbar.style1 .cl-skill-bar .skillbar .skillbar-bar {
    background: #106eea;
    width: 0;
    margin-bottom: 0;
    height: 7px;
    line-height: 7px;
    background-color: transparent;
    background-image: linear-gradient( 190deg, #105aad 0%, #4e95ed 100%);
    background-size: 1rem 1rem;
}

.rs-skillbar.style1.home4 .skillbar .skillbar-bar {
    background-color: #FD6509;
    background-image: linear-gradient( 45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.abt_btn button {
    background-color: #071017;
    color: #fff;
    border: 1px solid #071017;
    font-family: Raleway;
    padding: 10px 24px;
    font-weight: bolder;
    border-radius: 5px;
}

.service_bg {
    background-color: #F6F7F9;
    padding-top: 150px;
    height: 70em;
}

.service_info {
    display: flex;
    justify-content: space-around;
    padding: 50px 69px;
}

.service_info1 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0px 65px;
}

.solution {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.para h1 {
    font-size: 22px;
}

.service_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 47px;
}

.service_info_content {
    background-color: #fff;
    width: 25%;
    height: 325px;
    padding: 20px 27px;
    border-radius: 10px;
}

.iimages {
    display: flex;
    justify-content: space-around;
}

.para {
    font-size: 39px;
    letter-spacing: 4px;
    font-weight: bolder;
}

.what {
    font-size: 14px;
    font-weight: bolder;
}

.iimages1 img {
    width: 20%;
    padding-top: 30px;
}

.at {
    position: relative;
    top: 30px;
    line-height: 29px;
}

.over {
    line-height: 30px;
}

.choose_us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 130px 40px;
}

.sub_choose {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choose_image img {
    width: 97%;
}

.choose_text {
    padding: 0px 95px;
}

.choose_image1 img {
    width: 4em;
    width: 2.5em;
    margin-top: 13px;
}

.choose_image {
    text-align: center;
}

.choose_text1 p {
    text-align: center;
}

.choose_text2 h1 {
    font-size: 30px;
}

.contact {
    display: flex;
    justify-content: space-around;
    background-color: #F6F7F9;
    padding: 90px;
    line-height: 46px;
}

.my_choose {
    line-height: 37px;
}

.over2 {
    line-height: 33px;
}

.choose_us1 {
    margin-top: 30px;
}

.sub_contact {
    background-color: #fff;
    height: 26em;
    padding: 20px 63px;
    border-radius: 5px;
}

.contact_info {
    display: flex;
    align-items: center;
}

.contact_image img {
    width: 2.5em;
}

.first_contact {
    width: 35%;
}

.first_text h1 {
    font-size: 35px;
}

.first_para p {
    line-height: 26px;
}

.email {
    padding-left: 20px;
}

input {
    border: #fff;
    background-color: #F6F7F9;
    width: 93%;
    height: 39px;
    margin-top: 14px;
    padding-left: 29px;
    border-radius: 5px;
}

.form_btn {
    padding: 10px 20px;
}

.button1 {
    margin: 20px auto;
}

.blog1 {
    text-align: center;
}

.blog2 {
    display: flex;
    justify-content: space-around;
}

.first_blog_image img {
    width: 96%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.first_blog_image {
    text-align: center;
}

.first_blog {
    width: 30%;
    margin: 0 auto;
    height: 39em;
    box-shadow: 0 6px 25px rgb(12 89 219 / 9%);
}

.quality {
    line-height: 30px;
}

.first_blog_text {
    padding: 0px 14px;
    line-height: 33px;
}

.artificial p {
    background: black;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    top: -61px;
    left: 30px;
}

.blog {
    padding-top: 120px;
}

.blog1 {
    padding-bottom: 50px;
    line-height: 30px;
}

.testimonials {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
}

.testimonial_image {
    width: 54%;
    padding: 0px 40px;
}

.testimonial_image img {
    width: 95%;
}

.testimonial_content {
    padding: 0px 40px;
    width: 50%;
}

.komo_coat {
    margin-top: 90px;
    padding-left: 50px;
}

.komo_about {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mariya {
    display: flex;
}

.mariya_image img {
    border-radius: 50%;
    height: 100px;
}

.coat_para {
    line-height: 30px
}

.about_header {
    display: flex;
    justify-content: space-around;
}

.about_header_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    margin-left: 497px;
}

.about_navs {
    display: flex;
    padding-left: 4em;
    /* justify-content: space-around; */
    background-color: #071017;
    height: 50px;
    align-items: center;
}

.about_address {
    padding: 30px 30px;
    line-height: 25px
}

* {
    margin: 0;
    padding: 0;
}

.nav_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_items p {
    padding: 0px 30px;
    color: #fff;
}

.about_hero {
    height: 300px;
}

.about_content1 {
    width: 50%;
}

.about_content1 {
    width: 38%;
    line-height: 36px;
    padding: 0px 52px;
}

.about_image {
    text-align: center;
}

.about_image img {
    width: 87%;
}

.about_para {
    margin: 40px 0px 26px 0px;
}

.about_us {
    color: #fff;
    background-color: #000;
    margin-bottom: 10px;
    padding: 0px 20px;
    width: fit-content;
    border-radius: 20px;
}

.about_team {
    background: url(../images/team-bg.png);
    background-color: #000;
    background-position: center center;
    background-size: cover;
    padding: 100px 10px;
}

.about_team h1 {
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.us {
    margin: 0 auto;
}

.about_teachers {
    display: flex;
    margin-top: 30px;
}

.team_one {
    width: 45%;
}

.team_one_wrap {
    padding: 9px 35px 25px 20px;
    background: url(../images/ngbng.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image_inner {
    overflow: hidden;
    border-radius: 50%;
    width: 87%;
    margin: 0 auto;
}

.image_inner img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.person_name {
    color: #fff
}

.designation {
    color: #fff
}

.team_content {
    text-align: center;
    margin-top: 20px;
}

.work_process p {
    text-align: center;
    color: #fff;
    background-color: #000;
    /* margin-bottom: 10px; */
    margin: 10px auto;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
}

.work_process h1 {
    text-align: center;
    margin-top: 10px;
}

.work_process {
    padding: 100px 0px 0px 0px;
}

.the_process {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.consult {
    background: url(../images/project-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    background-color: #000;
    padding-top: 120px;
    padding-bottom: 390px;
}

.consult h1 {
    color: #fff;
    text-align: center;
    color: #fff;
    text-align: center;
    position: relative;
    top: 30px;
    /* margin-bottom: 30px; */
}

.the_form {
    margin-top: -380px;
    z-index: -111;
    padding-bottom: 120px;
}

.main_form {
    display: flex;
    width: 88%;
    align-items: center;
    margin: 130px auto 0px;
    background-color: #F6F7F9;
}

.form_image {
    width: 50%;
}

.form_image img {
    width: 100%;
}

.forms {
    display: flex;
    justify-content: space-around;
}

.my_forms {
    background-color: #fff;
    border: 1px solid #F1F5FB;
    padding: 5px 18px;
    width: 15em;
    margin: 10px 20px;
}

.msg-form {
    background-color: #fff;
    border: 1px solid #F1F5FB;
    padding: 5px 18px;
    width: 36em;
    height: 7em;
    margin: 10px 20px;
}

.form_submit button {
    margin-left: 18em;
}